*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    display: flex;
}
.slider{
    width: 700px;
    height: 500px;
    margin: auto;
  

}
.prev {
    float: left;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image{
    float: left;
    width: calc(100% - 100px);
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.next {
    float: left;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev i, .next i {
    cursor: pointer;
}
